/*.info{
    font-weight: bold;
    padding-bottom: 10px;
    font-size:15px;
}

.section{
    margin-top:20px;
    font-weight: bold;
    padding: 5px;
    margin-bottom:10px;
    background: rgb(243, 242, 242);
    text-transform: uppercase;
}
.field{
    padding-bottom: 8px;
    padding-left: 20px;
}

.ownererr{
    font-size:20px;
}*/